body {
    font-family: "Trebuchet MS";
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 85vh;*/
}

.weather-widget {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

.header {
    text-align: center;
    width: 100%;
}

.header h1 {
  color: #FFF;
  background-color: #1e179d;
  border-radius: 25px;
  padding: 20px 30px;
  display: inline-block;
  text-align: center;
  margin: 10px auto; /* centers horizontally */
}

.header h2 {
    color: #FFF;
}



input {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
button {
    padding: 8px 12px;
    border: none;
    background: (#007BFF);
    color: rgb(87, 91, 224);
    border-radius: 5px;
    cursor:pointer;
}

h1:hover{
    color: aquamarine;
}

a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}


button:hover {
    background-color: #002f61;
}
#results img {
    vertical-align: middle;
}
#results h2 {
    margin: 10px 0 5px 0;
}
#results p {
    margin: 0;
}

footer{
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/*
Animated Background
*/
body {
    background: linear-gradient(-45deg,#17589d, #1e179d,#5c2dbb, #56179d ,#771c7f);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.25);
  margin-right: 20px;

}

.active {
  background-color: #04AA6D;
}

.topnav .icon {
  display: none;
}

.settings {
  float: left;
  overflow: hidden;
  margin-right: 20px;
  background-color: rgba(255,255,255,0.25);
  border-radius: 5px;
  
}

.settings .settingsbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);  
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 6px 2px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .settings:hover .settingsbtn {
  background-color: rgba(255, 255, 255, 0.1);  
  color: white;
}

.settings .dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);  
  color: black;
}

.settings:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .settings .settingsbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


.settingsbtn {
  background-color: rgba(255,255,255,0.25);
  color: #f2f2f2;
  padding: 14px 16px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
}

.settingsbtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}